html{
	margin: -0px;
}

.header-index{
	width:101%;
	height:120px;
	background-color:#000;
	margin-top: -15px;
    margin-right: -7px;
    margin-left: -7px;
}

.logo-index{
	background: pink;
	width: 150px;
	height: 100px;
	margin-top: -25px;
	margin-left: 85%;
}


p{
	color: #fff;
}

